body {
    background-color: #FFFBC1;
}

.display {
    margin: 0px;
    margin-top: 2em;
    border: 3px solid black;
    height: 70px;
    background-color: white;
}

.btn {
    background-color: #B6E2A1;
    color: black;
}

.op {
    background-color: #F7A4A4;
}