.red-border {
    border: 0.1px solid red;
    margin: 0;
}

#canvas {
    display: grid;
    row-gap: 0px;

    grid-template-rows: repeat(30, 20px);
    grid-template-columns: repeat(30, 20px);

    width: 600px;
    height: 600px;
    border: 0.1px solid red;
}

.grid-item {
    border: 0.1px solid purple;
}

.grid-item:hover {
    background-color: yellow;
}