body {
    background-color: #ffc107;
}

h1 {
    font-size: 4em;
}

.red-border {
    border: 0.1px solid red;
    margin: 0;
}

.white-box {
    background-color: white;
}

.gray-box {
    background-color: #ADFFDC
}

#canvas {
    display: grid;
    row-gap: 0px;

    grid-template-rows: repeat(30, 20px);
    grid-template-columns: repeat(30, 20px);

    width: 600px;
    height: 600px;
    border: 0.1px solid red;
}

.grid-item {
    border: 0.1px solid black;
}

.black-border {
    padding: 2em;
    border-radius: 5px;
    border: 3px solid black;
}

.footer-cls {
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}